<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta name="description" content="">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>Volume_Test_Room</title>
		<link href="../../static/bootstrap/css/bootstrap.css" rel="stylesheet">
		<link rel="stylesheet" type="text/css" href="../../static/css/basic.css" />
		<link href="../../static/css/Volume_Test_Room.css" rel="stylesheet">
	</head>
	<body>
		<div class="head">
			<div id="log">
				<img src="../image/log.png">
			</div>
			<div class="head_options_li">
				<ul>
					<li><a href="#">首页</a></li>
					<li><a href="#">选项一</a></li>
					<li><a href="#">选项二</a></li>
					<li><a href="#">选项三</a></li>
					<li><a href="#">选项三</a></li>
				</ul>
			</div>
			<div id="login">
				<a href="#">Samuel@opentrons.com</a>
			</div>
		</div>
		<div id="nav_content">
			<div class="nav">
				<div class="nav_options_li">
					<ul class="list-group">
						<li><a href="#">首页<span class="glyphicon glyphicon-menu-right"></a></span></li>
						<li><a href="Volume_Test_Room.html">Test_Room<span
									class="glyphicon glyphicon-menu-right"></span></a></li>
					</ul>
				</div>
			</div>
			<div class="content container-fluid">
				<div id="Monitor_Area" class="row">
					<div id="room1" class="col-md-6 room_layout">
						<h1>Room1</h1>
						<table class="table table-bordered table-hover table-condensed">
							<thead>
								<tr>
									<th class="Fixture">Fixture</th>
									<th class="pipette">Pipette</th>
									<th class="scale">Scale</th>
									<th class="Temperature">Temperature</th>
									<th class="Humidity">Humidity</th>
									<th class="State">State</th>
								</tr>
							</thead>
							<tbody>
								<!-- <tr>
										<td class="td-special Fixture"><input type="text" class="form-control" placeholder="None"></td>
										<td class="td-special scale"><input type="text" class="form-control" placeholder="None"></td>
										<td class="td-special Temperature">None</td>
										<td class="td-special Humidity">None</td>
										<td class="td-special State">State</td>
									</tr>
									<tr>
										<td class="td-special Fixture"><input type="text" class="form-control" placeholder="None"></td>
										<td class="td-special scale"><input type="text" class="form-control" placeholder="None"></td>
										<td class="td-special Temperature">None</td>
										<td class="td-special Humidity">None</td>
										<td class="td-special State">State</td>
									</tr> -->
							</tbody>
						</table>

					</div>
					<div id="room2" class="col-md-6 room_layout">
						<h1>Room2</h1>
						<table class="table table-bordered table-hover table-condensed">
							<thead>
								<tr>
									<th class="Fixture">Fixture</th>
									<th class="pipette">Pipette</th>
									<th class="scale">Scale</th>
									<th class="Temperature">Temperature</th>
									<th class="Humidity">Humidity</th>
									<th class="State">State</th>
								</tr>
							</thead>
							<tbody>
								<!-- <tr>
											<td class="td-special Fixture"><input type="text" class="form-control" placeholder="None"></td>
											<td class="td-special scale"><input type="text" class="form-control" placeholder="None"></td>
											<td class="td-special Temperature">None</td>
											<td class="td-special Humidity">None</td>
											<td class="td-special State">State</td>
										</tr>
										<tr>
											<td class="td-special Fixture"><input type="text" class="form-control" placeholder="None"></td>
											<td class="td-special scale"><input type="text" class="form-control" placeholder="None"></td>
											<td class="td-special Temperature">None</td>
											<td class="td-special Humidity">None</td>
											<td class="td-special State">State</td>
										</tr> -->

							</tbody>
						</table>

					</div>
				</div>
			</div>
			<div id="Data_Show_Area" class="row">
				dkjashdkjh
			</div>
		</div>

		<script src="../../static/bootstrap/js/jquery-3.0.0.min.js"></script>
		<script src="../../static/bootstrap/js/bootstrap.min.js"></script>
		<script src="../../static/js/Volume_Test_Room.js"></script>
	</body>
</html>
